* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  background-color: #a6160c;
  max-width: 992px;
  height: 400px;
  margin: 150px auto 0 auto;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;

}

.logo {
  margin-top: 20px;
}

.form {
  margin-top: 20px;
  width: 80%;
  height: 60%;
  background-color: #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0;
  transition: all .3s;

}

.form:hover {
  -webkit-box-shadow: -3px 4px 6px 0px rgba(49, 50, 50, 0.75);
  -moz-box-shadow:    -3px 4px 6px 0px rgba(49, 50, 50, 0.75);
  box-shadow:         -3px 4px 6px 0px rgba(49, 50, 50, 0.75);
}

.dati-utente {
  padding: 30px;
  width: 40%;
}

input {
  width: 100%;
  margin-top: 10px;
  height: 20px;
  outline: none;
  text-align: center;
}

.input-age {
  margin-top: 20px;
}

.input-cost {
  margin-left: 90px;
}

p {
  font-size: 18px;
}

#sconto {
  font-size: 14px;
}
